body {
    font-family: Arial, Sans-Serif;
    background-color: white;
}
.title {
    color: black;
}
h2.sait {
    text-align: center;
    font-size: 30;
}
ul.list {
    list-style-type: none;
    font-size: 24;
    margin: 0;
    padding: 19;
    overflow: hidden;
    background-color: black;
}
li.list {
    display: inline;
    border-right: 1px solid #bbb;
}
li.list:last-child {
    border-right: none;
}
li.list a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.list a:hover {
    background-color: green;
    padding: 25;
}
p.sait {
    text-align: center;
}
